*.log
.DS_Store
node_modules
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd
.rts2_cache_esm
dist/
es/
coverage/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.docz/
.size-snapshot.json
.serena/

